/* grow.css v1.0 | https://github.com/upabove/grow.css | License: none (public domain) */

// -----------------------------------------------------------------------------
// Variables

$column_padding: 0 20px;

$device_small: 544px;
$device_medium: 768px;
$device_large: 992px;
$device_extra: 1200px;

// -----------------------------------------------------------------------------
// Grid

*:after { clear: both; }

.container { width: 1180px; max-width: 100%; margin: 0; padding: $column_padding; }
.container-full { width: 100%; margin: 0; }

.row { width: 100%; display: flex; flex-wrap: wrap; }

.col-xs-1 { width: 8.33%; padding: $column_padding; float: left; }
.col-xs-2 { width: 16.66%; padding: $column_padding; float: left; }
.col-xs-3 { width: 25%; padding: $column_padding; float: left; }
.col-xs-4 { width: 33.33%; padding: $column_padding; float: left; }
.col-xs-5 { width: 41.66%; padding: $column_padding; float: left; }
.col-xs-6 { width: 50%; padding: $column_padding; float: left; }
.col-xs-7 { width: 58.33%; padding: $column_padding; float: left; }
.col-xs-8 { width: 66.66%; padding: $column_padding; float: left; }
.col-xs-9 { width: 74.99%; padding: $column_padding; float: left; }
.col-xs-10 { width: 83.3%; padding: $column_padding; float: left; }
.col-xs-11 { width: 91.63%; padding: $column_padding; float: left; }
.col-xs-12 { width: 100%; padding: $column_padding; }

// Small devices (landscape phones, 544px and up)
@media (min-width: $device_small)
{
  .container { width: 520px; max-width: 100%; margin: 0 auto; padding: 0; }

  .col-sm-1 { width: 8.33%; padding: $column_padding; float: left; }
  .col-sm-2 { width: 16.66%; padding: $column_padding; float: left; }
  .col-sm-3 { width: 25%; padding: $column_padding; float: left; }
  .col-sm-4 { width: 33.33%; padding: $column_padding; float: left; }
  .col-sm-5 { width: 41.66%; padding: $column_padding; float: left; }
  .col-sm-6 { width: 50%; padding: $column_padding; float: left; }
  .col-sm-7 { width: 58.33%; padding: $column_padding; float: left; }
  .col-sm-8 { width: 66.66%; padding: $column_padding; float: left; }
  .col-sm-9 { width: 74.99%; padding: $column_padding; float: left; }
  .col-sm-10 { width: 83.3%; padding: $column_padding; float: left; }
  .col-sm-11 { width: 91.63%; padding: $column_padding; float: left; }
  .col-sm-12 { width: 100%; padding: $column_padding; float: left; }

  .marg-sm-1 { margin-left: 8.33%; }
  .marg-sm-2 { margin-left: 16.66%; }
  .marg-sm-3 { margin-left: 25%; }
  .marg-sm-4 { margin-left: 33.33%; }
  .marg-sm-5 { margin-left: 41.66%; }
  .marg-sm-6 { margin-left: 50%; }
  .marg-sm-7 { margin-left: 58.33%; }
  .marg-sm-8 { margin-left: 66.66%; }
  .marg-sm-9 { margin-left: 74.99%; }
  .marg-sm-10 { margin-left: 83.3%; }
  .marg-sm-11 { margin-left: 91.63%; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $device_medium)
{
  .container { width: 740px; max-width: 100%; margin: 0 auto; }

  .col-md-1 { width: 8.33%; padding: $column_padding; float: left; }
  .col-md-2 { width: 16.66%; padding: $column_padding; float: left; }
  .col-md-3 { width: 25%; padding: $column_padding; float: left; }
  .col-md-4 { width: 33.33%; padding: $column_padding; float: left; }
  .col-md-5 { width: 41.66%; padding: $column_padding; float: left; }
  .col-md-6 { width: 50%; padding: $column_padding; float: left; }
  .col-md-7 { width: 58.33%; padding: $column_padding; float: left; }
  .col-md-8 { width: 66.66%; padding: $column_padding; float: left; }
  .col-md-9 { width: 74.99%; padding: $column_padding; float: left; }
  .col-md-10 { width: 83.3%; padding: $column_padding; float: left; }
  .col-md-11 { width: 91.63%; padding: $column_padding; float: left; }
  .col-md-12 { width: 100%; padding: $column_padding; float: left; }

  .marg-md-1 { margin-left: 8.33%; }
  .marg-md-2 { margin-left: 16.66%; }
  .marg-md-3 { margin-left: 25%; }
  .marg-md-4 { margin-left: 33.33%; }
  .marg-md-5 { margin-left: 41.66%; }
  .marg-md-6 { margin-left: 50%; }
  .marg-md-7 { margin-left: 58.33%; }
  .marg-md-8 { margin-left: 66.66%; }
  .marg-md-9 { margin-left: 74.99%; }
  .marg-md-10 { margin-left: 83.3%; }
  .marg-md-11 { margin-left: 91.63%; }
}

// Large devices (desktops, 992px and up)
@media (min-width: $device_large)
{
  .container { width: 980px; max-width: 100%; margin: 0 auto; }

  .col-lg-1 { width: 8.33%; padding: $column_padding; float: left; }
  .col-lg-2 { width: 16.66%; padding: $column_padding; float: left; }
  .col-lg-3 { width: 25%; padding: $column_padding; float: left; }
  .col-lg-4 { width: 33.33%; padding: $column_padding; float: left; }
  .col-lg-5 { width: 41.66%; padding: $column_padding; float: left; }
  .col-lg-6 { width: 50%; padding: $column_padding; float: left; }
  .col-lg-7 { width: 58.33%; padding: $column_padding; float: left; }
  .col-lg-8 { width: 66.66%; padding: $column_padding; float: left; }
  .col-lg-9 { width: 74.99%; padding: $column_padding; float: left; }
  .col-lg-10 { width: 83.3%; padding: $column_padding; float: left; }
  .col-lg-11 { width: 91.63%; padding: $column_padding; float: left; }
  .col-lg-12 { width: 100%; padding: $column_padding; float: left; }

  .marg-lg-1 { margin-left: 8.33%; }
  .marg-lg-2 { margin-left: 16.66%; }
  .marg-lg-3 { margin-left: 25%; }
  .marg-lg-4 { margin-left: 33.33%; }
  .marg-lg-5 { margin-left: 41.66%; }
  .marg-lg-6 { margin-left: 50%; }
  .marg-lg-7 { margin-left: 58.33%; }
  .marg-lg-8 { margin-left: 66.66%; }
  .marg-lg-9 { margin-left: 74.99%; }
  .marg-lg-10 { margin-left: 83.3%; }
  .marg-lg-11 { margin-left: 91.63%; }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $device_extra)
{
  .container { width: 1180px; max-width: 100%; margin: 0 auto; }

  .col-xl-1 { width: 8.33%; padding: $column_padding; float: left; }
  .col-xl-2 { width: 16.66%; padding: $column_padding; float: left; }
  .col-xl-3 { width: 25%; padding: $column_padding; float: left; }
  .col-xl-4 { width: 33.33%; padding: $column_padding; float: left; }
  .col-xl-5 { width: 41.66%; padding: $column_padding; float: left; }
  .col-xl-6 { width: 50%; padding: $column_padding; float: left; }
  .col-xl-7 { width: 58.33%; padding: $column_padding; float: left; }
  .col-xl-8 { width: 66.66%; padding: $column_padding; float: left; }
  .col-xl-9 { width: 74.99%; padding: $column_padding; float: left; }
  .col-xl-10 { width: 83.3%; padding: $column_padding; float: left; }
  .col-xl-11 { width: 91.63%; padding: $column_padding; float: left; }
  .col-xl-12 { width: 100%; padding: $column_padding; float: left; }

  .marg-xl-1 { margin-left: 8.33%; }
  .marg-xl-2 { margin-left: 16.66%; }
  .marg-xl-3 { margin-left: 25%; }
  .marg-xl-4 { margin-left: 33.33%; }
  .marg-xl-5 { margin-left: 41.66%; }
  .marg-xl-6 { margin-left: 50%; }
  .marg-xl-7 { margin-left: 58.33%; }
  .marg-xl-8 { margin-left: 66.66%; }
  .marg-xl-9 { margin-left: 74.99%; }
  .marg-xl-10 { margin-left: 83.3%; }
  .marg-xl-11 { margin-left: 91.63%; }
}

// -----------------------------------------------------------------------------
// Misc

.no-padding { padding: 0!important; }
.no-margin { margin: 0!important; }

// Aligning and floating
.float-left { float: left; }
.float-right { float: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// -----------------------------------------------------------------------------
// Content

// Links
a { text-decoration: none; }
a:hover { text-decoration: underline; }

// Images
img { display: block; }
img.img-fluid {
  max-width: 100%;
  height: auto;
}
